body {
  background: #f7f7f7;
  font-family: 'Montserrat', sans-serif;
}

.margin-top-5 {
  margin-top: 5%;
}

.intro-section {
  background-color: #54589d;
}

.intro-section h1 {
  font-size: 5em;
  font-weight: 900;
  margin-top: 5%;
  color: #fff;
}

.intro-section span {
  color: #fffd03;
}

.intro-section p {
  color: #fff;
  font-size: 2em;
}

.intro-section a {
  background-color: #fffd03;
  color: #54589d;
  padding: 0.5em 3em 0.5em 3em;
  border: none;
  border-radius: 0px;
  font-size: 2em;
  font-weight: 900;
  margin-bottom: 3em;
  margin-top: 1em;
}

.intro-section a:hover {
  background-color: #fffd03;
  color: #54589d;
  padding: 0.5em 3em 0.5em 3em;
  border: none;
  border-radius: 0px;
  font-size: 2em;
  font-weight: 900;
  margin-bottom: 3em;
  margin-top: 1em;
}

.intro-quote {
  background-image: url("../img/introBg.png");
  color: #fff;
  font-weight: 500;
}

.intro-quote h1 {
  margin-top: 0.9em;
  margin-bottom: 0.7em;
  font-size: 3.9em;
}

.intro-quote p {
  font-size: 2em;
  float: right;
  font-weight: 500;
}

q {
  quotes: "“ "" ”""‘ "" ’";
}

q::before {
  content: open-quote;
}

q::after {
  content: close-quote;
}

.project-section {
  text-align: center;
}

.project-section h1 {
  font-size: 5em;
  font-weight: 900;
  color: #264794;
  margin-top: 0.7em;
  margin-bottom: 1.5em;

}

.project-section a {
  color: #5359a2;
  font-size: 3em;
  font-weight: 700;
}

.testimonial-section {
  background-color: #ff99cb;
  text-align: center;
}

.testimonial-section h1 {
  color: #5359a2;
  font-size: 5em;
}

.testimonial-bg {
  background-image: url("../img/testimonialBg.png");
}

.testimonial-bg p {
  color: #fff;
  font-size: 2em;
  margin-top: 3em;
  font-weight: 900;
}

.testimonial-bg h3 {
  color: #fff;
  font-size: 2em;
  margin-top: 1em;
  font-weight: 900;
}

.footer-section{
  background-image: url("../img/homeContactBg.png");
}
/* navbar */
.navbar {
  background-color: #54589d;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}


.navbar li a {
  color: #fff;
  margin-top: 10px;
}

/* section carousels */
.carousel-indicators>li {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}