
body{
  background: #f7f7f7;
  font-family: 'Montserrat', sans-serif;
}

.margin-top-5{
  margin-top: 5%;
}

.background{
  background-color: #54589d;
}

/* navbar */
.navbar {
  background-color: #54589d;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}


.navbar li a{
  color: #fff;
  margin-top:10px;
}

/* section carousels */
.carousel-indicators > li {
  border-radius: 50%;
  width:10px;
  height:10px;
}